* {
    box-sizing: border-box;
}

header {
    text-align: center;
    width: 100%;
}

main {
    max-width: 900px;
    margin: 0 auto;
    overflow: hidden;
    text-align: center;
}

#all-items {
    display: flex;
    margin: 0 auto;
}

section {
    flex: 1;
}

img {
    max-height: 300px;
    max-width: 100%;
    margin: 0 auto;
    padding: 5px;
}